{% extends 'base.html' %}

{% block content %}
    <h2><a href = "/">view applications</a></h2>
    <h1>{% block title %} Add a New Application {% endblock %}</h1>
    
        <form action = "{{ url_for('create') }}" method = "POST">
   
        <label for="app_name">Name</label>
        <br>
        <input type="text" name="app_name"
               placeholder="Post app_name"
               value="{{ request.form['app_name'] }}"></input>
        <br>

        <label for="email">Post Email</label>
        <br>
        <textarea name="email"
                  placeholder="Post email"
                  rows="15"
                  cols="60"
                  >{{ request.form['email'] }}</textarea>
        <br>

        <label for="job_title">Post job_title</label>
        <br>
        <textarea name="job_title"
                  placeholder="Post job_title"
                  rows="15"
                  cols="60"
                  >{{ request.form['job_title'] }}</textarea>
        <br>

        <label for="job_description">Post job_description</label>
        <br>
        <textarea name="job_description"
                  placeholder="Post job_description"
                  rows="15"
                  cols="60"
                  >{{ request.form['job_description'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}